body
{
    background-color: #2c3e50;
    color: #74b9ff;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
}


.icone , .phrase
{
    color: black;
    font-weight: bold;
}

h1
{
    margin-top: 2%;
    font-size: 70px;
}

form
{
    margin: 1% 2% 1% 75%;
}

#Ville
{
    height: 30px;
    border-radius: 5px;
    background-color: #4b575c;
    color: rgb(187, 184, 184);
    border: none;
}

#meteo
{
    width: 100%;
    height: 400px;
   
}

#temps
{
    padding-top: 8%;
    font-size: 300%;
    color: black;
}

#temperature
{
    font-size: 28px;
    color: black;
}

form button
{
    background-color: rgb(0, 134, 187);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 2% 4% 2% 4%;
}

form button:hover
{
    background-color: rgb(218, 198, 18);
    box-shadow: 3px 3px grey;
}

header h1
{
    font-family: 'Merriweather', serif;
    margin-top: 7%;
}

i
{
    padding: 15px;
}

.cloudBack
{
    background: url(img/clouds.jpeg) no-repeat;
    background-position-y: 45%;
}

.rainBack
{
    background: url(img/rain.jpg) no-repeat;
    background-size: 120%;
    background-position-y: 20%;
}

.clearBack
{
    background: url(img/clear.jpeg) no-repeat;
    background-position-y: 55%;
}

.snowBack
{
    background: url(img/snow.jpg) no-repeat;
}

.drizzleBack
{
    background: url(img/drizzle.jpg) no-repeat;
}

.mistBack
{
    background: url(img/mist.jpeg) no-repeat;
}

.sunny
{
    background: url(img/alpes.jpeg) no-repeat;
    background-size: cover;
}

footer
{
    margin-top: 1.5%;
    font-size: 13px;
}

footer a
{
    text-decoration: none;
    color: #74b9ff;
}

footer a:hover
{
    text-decoration: none;
    color: rgb(218, 198, 18);
}

@media screen and (max-width: 1050px){

    input{
        margin-left: -80%;
    }

    h1 {
        font-size: 50px;
    }

    .phrase{
        font-size: 25px;
    }
    
}


@media screen and (max-width: 600px){

    h1{
        font-size: 35px;
    }

    form
    {
        margin-left: 50%;
    }

    .phrase{
        font-size: 20px;
    }
    
    #temps
    {
       padding-top: 20%;
    }
}

@media screen and (max-width: 380px){

    h1{
        font-size: 35px;
    }

    .phrase{
        font-size: 20px;
    }

    form
    {
        margin-bottom: 5%;
        width: 50%
    }

    #Ville
    {
        padding-left: 22%;
        width: 80%
    }

    form button
    {
        margin-bottom: 10%;
        padding: 4% 5% 4% 5%;
    }

    #meteo
    {
        width: 100%;
    }

    footer
    {
        font-size: 12px;
    }

    #temps
    {
        padding-top: 25%;
    }
}
